@charset "UTF-8";


@media all and (max-width:1200px){

  #wrap #main #section1 .wrap .gap .container .title-wrap {max-width: 930px;}

  #wrap #main #section2 .wrap {max-width: 930px;}
  #wrap #main #section2 .wrap .gap .container .title-wrap .title-gap .small-title > h5 {font-size: 17px;}
  #wrap #main #section2 .wrap .gap .container .title-wrap .title-gap .left-content .left-content-gap > h2 {font-size: 34px;}
  #wrap #main #section2 .wrap .gap .container .title-wrap .title-gap .right-content .right-content-gap > p {font-size: 20px;}

  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal3 .img-content {position: relative;width:500px;}
  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal3 .img-content .slide-view {width:100%;height:360px;overflow: hidden;}
  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal3 .text-content {float:right;width:45%;}

  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal4 {margin: 0 auto;}
  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal4 .img-content {float: right;width:511px;}
  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal4 .img-content .img-wrap {width:100%;height:360px;}
  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal4 .text-content .text-gap {padding:69px 0px 69px 15px;}

  #wrap #main #section3 .wrap {max-width: 930px;}
  #wrap #main #section3 .wrap .gap .container .title-wrap .title-gap .left-content .left-content-gap > h2 {font-size: 34px;}
  #wrap #main #section3 .wrap .gap .container .title-wrap .title-gap .right-content .right-content-gap > p {font-size: 22px;}

  #wrap #main #section3 .wrap .gap .container .gal-wrap .gal-gap ul.gal-content li.gal .content-gap {padding:10px;}  
  #wrap #main #section3 .wrap .gap .container .gal-wrap .gal-gap ul.gal-content li.gal .content-gap .img-wrap {width:188px;height:188px;}

  #wrap #footer .wrap .gap .container ul.content-wrap .row1 {float:left; width:17%;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row2 {float:left; width:17%;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row3 {float:left; width:18%;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row4 {float:left; width:48%;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row .row-gap > h3 {font-size: 14px;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row .row-gap > a {font-size: 14px;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row .row-gap > p {font-size: 14px;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row .row-gap > a.co {font-size: 14px;}
}

@media all and (max-width:990px){

  #wrap #main #section1 .wrap .gap .container .title-wrap {max-width: 690px;}

  #wrap #main #section2 .wrap .gap .container .title-wrap .title-gap .small-title > h5 {font-size: 17px;}
  #wrap #main #section2 .wrap .gap .container .title-wrap .title-gap .left-content .left-content-gap > h2 {font-size: 32px;}
  #wrap #main #section2 .wrap .gap .container .title-wrap .title-gap .right-content .right-content-gap > p {font-size: 20px;}
  #wrap #main #section2 .wrap .gap .container .title-wrap .title-gap .right-content .right-content-gap > p br {display: none;}
  
  
  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap {padding-top:120px;}
  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal1 {margin: 0 auto;}
  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal1 .img-content .img-wrap {width:345px;height:490.30405px;}
  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal1 .text-content .text-gap {padding:69px 15px 69px 0px;}

  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal2 {margin:60px auto;}
  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal2 .text-content {float:left;width:30%;}
  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal2 .text-content .text-gap {padding:56px 0 56px 50px;}
  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal2 .img-content {float: right;width:345px;margin-right:50px;}
  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal2 .img-content .slide-view {width:345px;height:491.081532px;}

  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal3 .img-content {position: relative;width:380px;margin-left:20px;}
  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal3 .img-content .slide-view {width:100%;height:267px;overflow: hidden;}
  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal3 .text-content {float:right;width:43%;}
  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal3 .text-content .text-gap {padding:56px 20px 56px 20px;}

  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal4 .img-content {float: right;width:340px;margin-right:30px;}
  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal4 .img-content .img-wrap {width:100%;height:267px;}
  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal4 .text-content .text-gap {padding:69px 0px 69px 50px;}

  #wrap #main #section3 .wrap {max-width: 690px;}
  #wrap #main #section3 .wrap .gap .container .title-wrap .title-gap .left-content .left-content-gap > h2 {font-size: 32px;}
  #wrap #main #section3 .wrap .gap .container .title-wrap .title-gap .right-content .right-content-gap > p {font-size: 20px;}
  #wrap #main #section3 .wrap .gap .container .title-wrap .title-gap .right-content .right-content-gap > p br {display: none;}
  #wrap #main #section3 .wrap .gap .container .gal-wrap .gal-gap ul.gal-content li.gal {float:left;width:50%;}


  #wrap #footer .wrap .gap {padding:69px 48px 140px 48px;width:auto;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row1 {float:left; width:17%;margin:0 16px;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row2 {float:left; width:17%;margin:0 16px;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row3 {float:left; width:18%;margin:0 16px;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row4 {float:left; width:20%;margin:0 16px;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row .row-gap > .text > h6 {margin-bottom:20px;font-size: 13px;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row .row-gap > h3 {font-size: 13px;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row .row-gap > a {font-size: 13px;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row .row-gap > a.co {font-size: 13px;}
}

@media all and (max-width:770px){
  #wrap #header {height:58px;}
  #wrap #header .wrap .gap {margin:0 18px;}
  #wrap #header .wrap .gap .container .logo-wrap {line-height: 54px;}
  #wrap #header .wrap .gap .container .nav-wrap .nav-gap ul.nav-content li.sub-nav {font-size: 12px;margin-left:15px;}
  #wrap #header .wrap .gap .container .nav-wrap .nav-gap ul.nav-content li.sub-nav1 {margin-left:0;}
  #wrap #header .wrap .gap .container .nav-wrap {float:right;line-height: 54px;margin-right:40px;}
  #wrap #header .wrap .gap .container .nav-wrap .nav-gap {margin-left:0;}

  #wrap #main #section1 .wrap .gap .container .title-wrap .title-gap h4 {font-size: 17px;}
  #wrap #main #section1 .wrap .gap .container .title-wrap .title-gap h2 {font-size: 38px;}
  #wrap #main #section1 .wrap {background: url(../img/m_main_hero-13e33fa2a1b76216db03a8da53c34608.jpg) no-repeat 50% 50%; background-size: cover;}
  #wrap #main #section1 .wrap .gap .container .title-wrap {padding:0 15px;}

  #wrap #main #section2 .wrap .gap {padding:100px 0;}
  #wrap #main #section2 .wrap .gap .container .title-wrap .title-gap {text-align: center;}
  #wrap #main #section2 .wrap .gap .container .title-wrap .title-gap .small-title {width:100%;float: none;}
  #wrap #main #section2 .wrap .gap .container .title-wrap .title-gap .left-content {float: none;width:100%;margin-bottom:15px;}
  #wrap #main #section2 .wrap .gap .container .title-wrap .title-gap .right-content {float: none;width:100%;}
  #wrap #main #section2 .wrap .gap .container .title-wrap .title-gap .small-title > h5 {font-size: 14px;}
  #wrap #main #section2 .wrap .gap .container .title-wrap .title-gap .left-content .left-content-gap > h2 {font-size: 28px;}
  #wrap #main #section2 .wrap .gap .container .title-wrap .title-gap .right-content .right-content-gap > p {font-size: 18px;}
  #wrap #main #section2 .wrap .gap .container .title-wrap .title-gap .right-content .right-content-gap > p br {display: block;}

  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal1 .img-content {float: none;width:100%;}
  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal1 .text-content {float:none;width:100%;}

  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal2 {margin:60px auto;}
  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal2 .text-content {float:none;width:100%;}
  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal2 .text-content .text-gap {padding:56px 0 56px 0px;}
  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal2 .img-content {float: none;width:100%;margin-right:0px;}
  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal2 .img-content .slide-view {width:100%;height:372px;}

  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal3 {margin:60px auto;}
  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal3 .img-content {position: relative;float: none;width:100%;margin-left:0px;}
  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal3 .img-content .slide-view {width:100%;height:267px;overflow: hidden;}
  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal3 .text-content {float:none;width:100%;}
  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal3 .text-content .text-gap {padding:56px 0px 56px 0px;}

  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal4 .img-content {float: none;width:100%;margin-right:0px;}
  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal4 .img-content .img-wrap {width:100%;height:375px;}
  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal4 .text-content {float:none;width:100%;}
  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal4 .text-content .text-gap {padding:69px 0px 69px 0px;}

  #wrap #main #section3 .wrap .gap .container .title-wrap .title-gap .small-title {width:100%;float: none;text-align: center;}
  #wrap #main #section3 .wrap .gap .container .title-wrap .title-gap .small-title > h5 {font-size: 14px;}
  #wrap #main #section3 .wrap .gap .container .title-wrap .title-gap .left-content {float: none;width:100%;text-align: center;}
  #wrap #main #section3 .wrap .gap .container .title-wrap .title-gap .left-content .left-content-gap {margin-right:0px;margin-bottom:15px;}
  #wrap #main #section3 .wrap .gap .container .title-wrap .title-gap .left-content .left-content-gap > h2 {font-size: 28px;}
  #wrap #main #section3 .wrap .gap .container .title-wrap .title-gap .right-content {float: none;width:100%;text-align: center;}
  #wrap #main #section3 .wrap .gap .container .title-wrap .title-gap .right-content .right-content-gap {margin-left:0px;}
  #wrap #main #section3 .wrap .gap .container .title-wrap .title-gap .right-content .right-content-gap > p {font-size: 20px;}
  #wrap #main #section3 .wrap .gap .container .title-wrap .title-gap .right-content .right-content-gap > p br {display: block;}

  #wrap #main #section3 .wrap .gap {width:100%;padding:100px 0;}
  #wrap #main #section3 .wrap .gap .container .gal-wrap .gal-gap {width:auto;padding-top:60px;margin:0 20px;}
  #wrap #main #section3 .wrap .gap .container .gal-wrap .gal-gap ul.gal-content li.gal .content-gap .text-wrap > h4 {font-size: 14px;font-weight: 300;line-height: 150%;display: inline-block;}
  #wrap #main #section3 .wrap .gap .container .gal-wrap .gal-gap ul.gal-content li.gal .content-gap .text-wrap > h2 {font-size: 24px;font-weight: 300;line-height: 150%;}

  #wrap #footer .wrap .gap {padding:69px 48px 140px 48px;width:auto;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row1 {float:left; width:100%;margin:0 0 30px 0px;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row2 {float:left; width:100%;margin:0 0 30px 0px;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row3 {float:left; width:100%;margin:0 0 30px 0px;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row4 {float:left; width:100%;margin:0 0 0 0px;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row .row-gap > .text > h6 {margin-bottom:10px;font-size: 13px;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row .row-gap > h3 {font-size: 14px;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row .row-gap > a {font-size: 14px;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row .row-gap > a.co {font-size: 14px;}

  #section3modal .wrap {width:80vw;}
  #section3modal .wrap .gap .container .slide-view .slide-wrap li.slide .slide-gap {padding:80px 20px;}
}

@media all and (max-width:485px){
  #wrap #header {height:100px;}
  #wrap #header .wrap .gap {margin:0 0px;}
  #wrap #header .wrap .gap .container {text-align: center;}
  #wrap #header .wrap .gap .container .logo-wrap {display: inline-block;line-height: 58px;height: 58px;}
  #wrap #header .wrap .gap .container .logo-wrap a {line-height: 58px;}
  #wrap #header .wrap .gap .container .nav-wrap {display: inline-block;float:none;line-height: 30px;margin-right:0px;}
  #wrap #header .wrap .gap .container .nav-wrap .nav-gap ul.nav-content li.sub-nav {font-size: 15px;}

  #wrap #main #section1 .wrap .gap .container .title-wrap .title-gap h4 {font-size: 14px;}
  #wrap #main #section1 .wrap .gap .container .title-wrap .title-gap h2 {font-size: 32px;}
  #wrap #main #section1 .wrap .gap .container .title-wrap .title-gap h2 .noNo {display: block;}

  #wrap #main #section2 .wrap .gap .container .title-wrap .title-gap .small-title > h5 {font-size: 12px;}
  #wrap #main #section2 .wrap .gap .container .title-wrap .title-gap .left-content .left-content-gap > h2 {font-size: 24px;}
  #wrap #main #section2 .wrap .gap .container .title-wrap .title-gap .right-content .right-content-gap > p {font-size: 16px;}
  #wrap #main #section2 .wrap .gap .container .title-wrap .title-gap .right-content .right-content-gap > p br {display: none;}
  
  
  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal1 .text-content .text-gap {padding:30px 15px 60px 0px;}
  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal .text-content .text-gap > h2 {font-size: 20px;}
  #wrap #main #section2 .wrap .gap .container .gal-wrap .gal-gap .gal-content .gal .text-content .text-gap > p {font-size: 16px;}
  #wrap #main #section2 .wrap .gap {padding:50px 0;}

  #wrap #main #section3 .wrap .gap {width:100%;padding:60px 0;}
  #wrap #main #section3 .wrap .gap .container .title-wrap .title-gap .small-title > h5 {font-size: 12px;}
  #wrap #main #section3 .wrap .gap .container .title-wrap .title-gap .left-content .left-content-gap {margin-right:0px;margin-bottom:15px;}
  #wrap #main #section3 .wrap .gap .container .title-wrap .title-gap .left-content .left-content-gap > h2 {font-size: 24px;}
  #wrap #main #section3 .wrap .gap .container .title-wrap .title-gap .right-content .right-content-gap {margin-left:0px;}
  #wrap #main #section3 .wrap .gap .container .title-wrap .title-gap .right-content .right-content-gap > p {font-size: 16px;}

  #section3modal .wrap .gap .container .slide-view .slide-wrap li.slide0 .img-wrap {background: url(../img/m_kyesung.jpg) no-repeat 50% 50%;background-size:cover;}
  #section3modal .wrap .gap .container .slide-view .slide-wrap li.slide1 .img-wrap {background: url(../img/m_sungah.jpg) no-repeat 50% 50%;background-size:cover;}
  #section3modal .wrap .gap .container .slide-view .slide-wrap li.slide2 .img-wrap {background: url(../img/m_minyong.jpg) no-repeat 50% 50%;background-size:cover;}
  #section3modal .wrap .gap .container .slide-view .slide-wrap li.slide3 .img-wrap {background: url(../img/m_seungmin.jpg) no-repeat 50% 50%;background-size:cover;}
  #section3modal .wrap .gap .container .slide-view .slide-wrap li.slide4 .img-wrap {background: url(../img/m_yohan.jpg) no-repeat 50% 50%;background-size:cover;}
  #section3modal .wrap .gap .container .slide-view .slide-wrap li.slide5 .img-wrap {background: url(../img/m_jungwoon.jpg) no-repeat 50% 50%;background-size:cover;}
  #section3modal .wrap .gap .container .slide-view .slide-wrap li.slide6 .img-wrap {background: url(../img/m_dahye.jpg) no-repeat 50% 50%;background-size:cover;}
  #section3modal .wrap .gap .container .slide-view .slide-wrap li.slide7 .img-wrap {background: url(../img/m_inwoo.jpg) no-repeat 50% 50%;background-size:cover;}
  #section3modal .wrap .gap .container .slide-view .slide-wrap li.slide8 .img-wrap {background: url(../img/m_joeun.jpg) no-repeat 50% 50%;background-size:cover;}
  #section3modal .wrap .gap .container .slide-view .slide-wrap li.slide .img-wrap .name-wrap {top:70%;padding-left:10%;}
  #section3modal .wrap .gap .container .slide-view .slide-wrap li.slide .img-wrap .name-wrap > h2 {font-size: 28px;}
  #section3modal .wrap .gap .container .slide-view .slide-wrap li.slide .img-wrap .name-wrap > p {font-size: 12px;font-weight: 300;opacity: 1;}
  #wrap #main #section3 .wrap .gap .container .gal-wrap .gal-gap ul.gal-content li.gal {float:left;width:100%;}
  #section3modal .wrap .gap .container .slide-view .slide-wrap li.slide .slide-gap {padding:30px 20px;}
  #section3modal .wrap .gap .container .slide-view .slide-wrap li.slide .slide-gap .text-wrap .text-gap > h2 {font-size: 18px;font-weight: 500;}
  #section3modal .wrap .gap .container .slide-view .slide-wrap li.slide .slide-gap .text-wrap .text-gap > p {font-size: 14px;font-weight: 300;color:rgba(51,51,51,.8);line-height: 140%;}

  #modal {right:0px;width:90%;margin:0 5%;}
  #modal .ra-btn {box-shadow: 0px 0px 25px 1px rgba(51,51,51,.2);}
}

@media all and (max-width:360px){
  
  #wrap #main #section3 .wrap .gap .container .title-wrap .title-gap .right-content .right-content-gap > p br {display: none;}
  #wrap #main #section2 .wrap .gap .container .title-wrap .title-gap .left-content .left-content-gap > h2 {font-size: 20px;}
  
}