@charset "UTF-8";


@media all and (max-width:1200px){

  #wrap #main #section1 .wrap .gap .container .title-wrap {max-width: 930px;}

  #wrap #main #section2 .wrap .gap .container .title-wrap .title-gap .content {max-width: 930px;}
  #wrap #main #section2 .wrap .gap .container .content-wrap {max-width: 930px;}
  #wrap #main #section2 .wrap .gap .container .title-wrap .title-gap .content .right-content .right-content-gap > p {font-size: 19px;}
  #wrap #main #section2 .wrap .gap {padding:150px 0 140px 0;}
  #wrap #main #section2 .wrap .gap .container .title-wrap .title-gap .slide-text {padding:130px 0 100px 0;}

  #wrap #main #section3 .wrap {max-width: 930px;}
  #wrap #main #section3 .wrap .gap .container .rotate-wrap {max-width:930px;}
  #wrap #main #section3 .wrap .gap {width:100%;padding:140px 0 80px 0;}
  #wrap #main #section3 .wrap .gap .container .title-wrap .title-gap .content .small-title > h5 {font-size: 17px;margin-bottom:11px;font-weight: 700;}
  #wrap #main #section3 .wrap .gap .container .title-wrap .title-gap .content .left-content .left-content-gap > h2 {display:block;font-size: 32px;color:rgba(51,51,51,1);font-weight: 500;}
  #wrap #main #section3 .wrap .gap .container .title-wrap .title-gap .content .right-content .right-content-gap > p {display:block;font-size: 20px;color:rgba(51,51,51,1);font-weight: 300;}
  #wrap #main #section3 .wrap .gap .container .title-wrap .title-gap .content .right-content .right-content-gap > p > br {display: none;}
  #wrap #main #section3 .wrap .gap .container .content-wrap {max-width: 930px;}

  #wrap #main #section4 .wrap .gap .container .title-wrap {max-width: 930px;}
  #wrap #main #section4 .wrap .gap .container .title-wrap .title-gap .content .left-content .left-content-gap > h2 {font-size: 34px;}

  #wrap #main #section5 .wrap {max-width: 930px;}
  
  #wrap #main #section6 .wrap .gap .container .title-wrap {max-width: 930px;}
  #wrap #main #section6 .wrap .gap .container .title-wrap .title-gap .content .left-content .left-content-gap > h2 {font-size: 34px;}
  #wrap #main #section6 .wrap .gap .container .title-wrap .title-gap .content .right-content .right-content-gap > p {font-size: 20px;}

  #wrap #main #section7 .wrap {max-width: 930px;}
  
  #wrap #main #section8 .wrap .gap .container .title-wrap {max-width: 930px;}
  #wrap #main #section8 .wrap .gap .container .title-wrap .title-gap .content .left-content .left-content-gap > h2 {font-size: 34px;}
  #wrap #main #section8 .wrap .gap .container .title-wrap .title-gap .content .right-content .right-content-gap > p {font-size: 19px;}

  #wrap #main #section9 .wrap .gap .container .top-col {max-width: 930px;}
  #wrap #main #section9 .wrap .gap .container .top-col .left-content .text-wrap .text-gap > p {font-size: 34px;}
  #wrap #main #section9 .wrap .gap .container .top-col .right-content .text-wrap > p {font-size: 20px;}
  #wrap #main #section9 .wrap .gap .container .top-col .right-content .text-wrap > p br {display: none;}

  #wrap #footer .wrap .gap .container ul.content-wrap .row1 {float:left; width:17%;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row2 {float:left; width:17%;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row3 {float:left; width:18%;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row4 {float:left; width:48%;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row .row-gap > h3 {font-size: 14px;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row .row-gap > a {font-size: 14px;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row .row-gap > p {font-size: 14px;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row .row-gap > a.co {font-size: 14px;}

  
}

@media all and (max-width:990px){

  #wrap #main #section1 .wrap .gap .container .title-wrap {max-width: 690px;}

  #wrap #main #section2 .wrap .gap .container .title-wrap .title-gap .content {max-width: 690px;}
  #wrap #main #section2 .wrap .gap .container .content-wrap {max-width: 690px;}
  #wrap #main #section2 .wrap .gap {padding:120px 0 100px 0;}
  #wrap #main #section2 .wrap .gap .container .title-wrap .title-gap .slide-text {padding:130px 0 0px 0;}
  #wrap #main #section2 .wrap .gap .container .title-wrap .title-gap .content .right-content .right-content-gap > p > br {display: none;}
  #wrap #main #section2 .wrap .gap .container .title-wrap .title-gap .content .small-title > h5 {font-weight: 400;font-size: 16px;}
  #wrap #main #section2 .wrap .gap .container .content-wrap .content-gap .content-container .content .container-gap> h3 {font-size: 28px;}
  #wrap #main #section2 .wrap .gap .container .content-wrap .content-gap .content-container .content .container-gap> h4 {font-size: 24px;}
  #wrap #main #section2 .wrap .gap .container .content-wrap .content-gap .content-container .content .container-gap> p {font-size: 15px;}
  #wrap #main #section2 .wrap .gap .container .content-wrap .content-gap .content-container .content {float: left;width:50%;}
  #wrap #main #section2 .wrap .gap .container .content-wrap .content-gap .content-container .content3 .container-gap {padding-right:0px;padding-left:0px;}
  
  #wrap #main #section3 .wrap {max-width: 690px;}
  #wrap #main #section3 .wrap .gap .container .content-wrap {max-width: 690px;}
  #wrap #main #section3 .wrap .gap .container .content-wrap .content-gap .content-container .content {float: left;width:50%;}
  #wrap #main #section3 .wrap .gap .container .content-wrap .content-gap .content-container .content .container-gap {padding:15px 12.5px 15px 12.5px;}
  #wrap #main #section3 .wrap .gap .container .content-wrap .content-gap .content-container .content1 .container-gap {padding-left:0px;padding-right:0px;}
  #wrap #main #section3 .wrap .gap .container .content-wrap .content-gap .content-container .content3 .container-gap {padding-right:0px;padding-left:0px;}

  #wrap #main #section4 .wrap .gap .container .title-wrap {max-width: 690px;}
  #wrap #main #section4 .wrap .gap .container .title-wrap .title-gap .content .left-content .left-content-gap > h2 {font-size: 32px;}
  #wrap #main #section4 .wrap .gap .container .title-wrap .title-gap .content .right-content .right-content-gap > p {font-size: 20px;}

  #wrap #main #section4 .wrap .gap .container .slide-view {height:250px;margin-top:80px;}
  #wrap #main #section4 .wrap .gap .container .slide-view .slide-wrap {width:calc(250px*16);}
  #wrap #main #section4 .wrap .gap .container .slide-view .slide-wrap .slide {width:248px;height:248px;}
  #wrap #main #section4 .wrap .gap .container .slide-view .slide-wrap .slide .ra-wrap {font-size: 28px;font-weight: 300;line-height: 248px;}
  
  #wrap #main #section5 .wrap {max-width: 690px;}

  #wrap #main #section6 .wrap .gap .container .title-wrap {max-width: 690px;}
  #wrap #main #section6 .wrap .gap .container .title-wrap .title-gap .content .left-content .left-content-gap > h2 {font-size: 32px;}
  #wrap #main #section6 .wrap .gap .container .title-wrap .title-gap .content .right-content .right-content-gap > p {font-size: 20px;}
  #wrap #main #section6 .wrap .gap .container .img-wrap .img-gap .grafimg {width:706px;height:329.62266px;margin:140px auto 0 auto;}
  #wrap #main #section6 .wrap .gap .container .text-wrap .text-gap {max-width:706px;}
  #wrap #main #section6 .wrap .gap .container .text-wrap .text-gap .text .left-text {width:40%;float: left;}
  #wrap #main #section6 .wrap .gap .container .text-wrap .text-gap .text .left-text > h4 {font-size: 22px;}
  #wrap #main #section6 .wrap .gap .container .text-wrap .text-gap .text .right-text {width:60%;float: right;}
  #wrap #main #section6 .wrap .gap .container .text-wrap .text-gap .text .right-text > p {font-size: 17px;}
  #wrap #main #section6 .wrap .gap .container .text-wrap .text-gap .text .right-text > p > br{display: none;}

  #wrap #main #section7 .wrap {max-width: 690px;}

  #wrap #main #section8 .wrap .gap .container .title-wrap {max-width: 690px;}
  #wrap #main #section8 .wrap .gap .container .title-wrap .title-gap .content .left-content .left-content-gap > h2 {font-size: 32px;}
  #wrap #main #section8 .wrap .gap .container .title-wrap .title-gap .content .right-content .right-content-gap > p {font-size: 19px;}
  #wrap #main #section8 .wrap .gap .container .img-wrap .img-gap .grafimg {width: 688px; height:158.9220px;margin:140px auto 0 auto;}

  #wrap #main #section9 .wrap .gap .container .top-col {max-width: 690px;}
  #wrap #main #section9 .wrap .gap .container .top-col .left-content .text-wrap .text-gap > p {font-size: 32px;}
  #wrap #main #section9 .wrap .gap .container .top-col .right-content .text-wrap > p {font-size: 18px;}

  #wrap #footer .wrap .gap {padding:69px 48px 140px 48px;width:auto;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row1 {float:left; width:17%;margin:0 16px;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row2 {float:left; width:17%;margin:0 16px;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row3 {float:left; width:18%;margin:0 16px;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row4 {float:left; width:20%;margin:0 16px;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row .row-gap > .text > h6 {margin-bottom:20px;font-size: 13px;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row .row-gap > h3 {font-size: 13px;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row .row-gap > a {font-size: 13px;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row .row-gap > a.co {font-size: 13px;}
}

@media all and (max-width:770px){
  #wrap #header {height:58px;}
  #wrap #header .wrap .gap {margin:0 18px;}
  #wrap #header .wrap .gap .container .logo-wrap {line-height: 54px;}
  #wrap #header .wrap .gap .container .nav-wrap .nav-gap ul.nav-content li.sub-nav {font-size: 12px;margin-left:15px;}
  #wrap #header .wrap .gap .container .nav-wrap .nav-gap ul.nav-content li.sub-nav1 {margin-left:0;}
  #wrap #header .wrap .gap .container .nav-wrap {float:right;line-height: 54px;margin-right:40px;}
  #wrap #header .wrap .gap .container .nav-wrap .nav-gap {margin-left:0;}

  #wrap #main #section1 .wrap .gap .container .title-wrap .title-gap h4 {font-size: 17px;}
  #wrap #main #section1 .wrap .gap .container .title-wrap .title-gap h2 {font-size: 38px;}
  #wrap #main #section1 .wrap {background: url(../img/m_main_hero-b49cf44f7b4d1f5bb695a5718cef40ef.jpg) no-repeat 50% 50%; background-size: cover;}
  #wrap #main #section1 .wrap .gap .container .title-wrap {padding:0 15px;}

  #wrap #main #section2 .wrap .gap {padding:80px 0 80px 0;}
  #wrap #main #section2 .wrap .gap .container .title-wrap .title-gap .slide-text {padding:110px 0 0px 0;}
  #wrap #main #section2 .wrap .gap .container .title-wrap .title-gap .content {text-align: center;}
  #wrap #main #section2 .wrap .gap .container .title-wrap .title-gap .content .small-title {width:100%;float: none;}
  #wrap #main #section2 .wrap .gap .container .title-wrap .title-gap .content .left-content .left-content-gap > h2 {font-size: 28px;margin-bottom:20px;}
  #wrap #main #section2 .wrap .gap .container .title-wrap .title-gap .content .left-content {float: none;width:100%;}
  #wrap #main #section2 .wrap .gap .container .title-wrap .title-gap .content .right-content {float: none;width:100%;}
  #wrap #main #section2 .wrap .gap .container .title-wrap .title-gap .content .right-content .right-content-gap > p > br {display: block;}
  #wrap #main #section2 .wrap .gap .container .content-wrap .content-gap .content-container .content {float: none;width:100%;}
  #wrap #main #section2 .wrap .gap .container .content-wrap .content-gap .content-container .content3 .container-gap {padding-right:0px;padding-left:0px;}
  #wrap #main #section2 .wrap .gap .container .content-wrap .content-gap .content-container .content .container-gap {padding:0px 12.5px 15px 0px}
  #wrap #main #section2 .wrap .gap .container .content-wrap .content-gap .content-container .content .container-gap> h3 {font-size: 32px;font-weight: 500;color: rgba(255,255,255,1);border-bottom:0px solid rgba(255,255,255,1);margin-bottom:10px;padding-bottom:0px;border-top:1px solid rgba(255,255,255,1);margin-top:20px;padding-top:17px;}
  #wrap #main #section2 .wrap .gap .container .content-wrap .content-gap .content-container .content .container-gap> h4 {font-size: 24px;color: rgba(255,255,255,1);font-weight: 500;line-height: 150%;padding-bottom:5px;}
  #wrap #main #section2 .wrap .gap .container .content-wrap .content-gap .content-container .content .container-gap> p {margin-bottom:15px;color: rgba(255,255,255,.8);}

  #wrap #main #section3 .wrap .gap .container .rotate-wrap {width:90vw;height:90vw; margin:100px auto;background: url(../img/m_organization-3c2e23141484b4f36a7fea49a0ddde98.png) no-repeat 50% 25%;background-size: cover;}
  #wrap #main #section3 .wrap .gap .container .rotate-wrap .rotate-gap {display: none;}
  #wrap #main #section3 .wrap .gap {width:100%;padding:50px 0 60px 0;}
  #wrap #main #section3 .wrap .gap .container .title-wrap .title-gap .content .left-content .left-content-gap {margin-right:0px;margin-bottom:20px;}
  #wrap #main #section3 .wrap .gap .container .title-wrap .title-gap .content .right-content .right-content-gap {margin-left:0px;margin-bottom:10px;}
  #wrap #main #section3 .wrap .gap .container .title-wrap .title-gap .content {width:100%;text-align: center;}
  #wrap #main #section3 .wrap .gap .container .title-wrap .title-gap .content .left-content {float: none;width:100%;}
  #wrap #main #section3 .wrap .gap .container .title-wrap .title-gap .content .right-content {float: none;width:100%;}
  #wrap #main #section3 .wrap .gap .container .title-wrap .title-gap .content .small-title {width:100%;float: none;}
  #wrap #main #section3 .wrap .gap .container .title-wrap .title-gap .content .small-title > h5 {font-size: 14px;margin-bottom:10px;font-weight: 700;}
  #wrap #main #section3 .wrap .gap .container .title-wrap .title-gap .content .left-content .left-content-gap > h2 {display:block;font-size: 28px;color:rgba(51,51,51,1);font-weight: 500;}
  #wrap #main #section3 .wrap .gap .container .title-wrap .title-gap .content .right-content .right-content-gap > p {display:block;font-size: 20px;color:rgba(51,51,51,1);font-weight: 300;}
  #wrap #main #section3 .wrap .gap .container .title-wrap .title-gap .content .right-content .right-content-gap > p > br {display: block;}
  #wrap #main #section3 .wrap .gap .container .content-wrap {padding:0 0;}
  #wrap #main #section3 .wrap .gap .container .content-wrap .content-gap .content-container .content {float: left;width:100%;}
  #wrap #main #section3 .wrap .gap .container .content-wrap .content-gap .content-container .content .container-gap {padding:0;}
  #wrap #main #section3 .wrap .gap .container .content-wrap .content-gap .content-container .content .container-gap> h3 {font-size: 32px;font-weight: 600;border-bottom:0px solid rgba(0,0,0,.3);margin-bottom:10px;padding-bottom:0px;border-top:1px solid rgba(0,0,0,.3);margin-top:20px;padding-top:17px;}
  #wrap #main #section3 .wrap .gap .container .content-wrap .content-gap .content-container .content .container-gap> h4 {font-size: 24px;font-weight: 300;padding-bottom:5px;}
  #wrap #main #section3 .wrap .gap .container .content-wrap .content-gap .content-container .content .container-gap> p {font-size: 15px;margin-bottom:30px;}
  #wrap #main #section3 .wrap .gap .container .content-wrap .content-gap .content-container .content:hover .container-gap> h3 {color: rgba(0,198,142,1);border-top:1px solid rgba(0,198,142,.8);border-bottom:0px solid rgba(0,198,142,.8);}
  #wrap #main #section3 .wrap .gap .container .content-wrap .content-gap .content-container .content:hover .container-gap> h4 {font-size: 24px;color: rgba(0,198,142,1);font-weight: 300;line-height: 150%;padding-bottom:5px;}
  #wrap #main #section3 .wrap .gap .container .content-wrap .content-gap .content-container .content:hover .container-gap> p {font-size: 15px;line-height: 150%;color: rgba(0,198,142,1);margin-bottom:30px;}

  #wrap #main #section4 .wrap .gap {padding:140px 0 160px 0;}
  #wrap #main #section4 .wrap .gap .container .title-wrap .title-gap .content {width:100%;text-align: center;}
  #wrap #main #section4 .wrap .gap .container .title-wrap .title-gap .content .small-title {float: none;width:100%;}
  #wrap #main #section4 .wrap .gap .container .title-wrap .title-gap .content .left-content {float: none;width:100%;}
  #wrap #main #section4 .wrap .gap .container .title-wrap .title-gap .content .right-content {float: none;width:100%;}
  #wrap #main #section4 .wrap .gap .container .title-wrap .title-gap .content .small-title > h5 {font-size: 14px;}
  #wrap #main #section4 .wrap .gap .container .title-wrap .title-gap .content .left-content .left-content-gap {margin-right:0px;}
  #wrap #main #section4 .wrap .gap .container .title-wrap .title-gap .content .left-content .left-content-gap > h2 {font-size: 28px;margin-bottom:20px;}
  #wrap #main #section4 .wrap .gap .container .title-wrap .title-gap .content .right-content .right-content-gap {margin-left:0px;}
  #wrap #main #section4 .wrap .gap .container .title-wrap .title-gap .content .right-content .right-content-gap > p {font-size: 20px;}

  #wrap #main #section5 {background: url(../img/m_evaluation_hero-586d9fdfc523190df096d9f45d5a2671.jpg) no-repeat 50% 50%;}
  #wrap #main #section5 .wrap .gap .container .title-wrap .title-gap > h4 {font-size: 17px;}
  #wrap #main #section5 .wrap .gap .container .title-wrap .title-gap > h2 {font-size: 38px;}

  #wrap #main #section6 .wrap .gap {padding:120px 0;}
  #wrap #main #section6 .wrap .gap .container .title-wrap .title-gap .content {width:100%;text-align: center;}
  #wrap #main #section6 .wrap .gap .container .title-wrap .title-gap .content .left-content {float: none;width:100%;margin-bottom:20px;}
  #wrap #main #section6 .wrap .gap .container .title-wrap .title-gap .content .right-content {float: none;width:100%;}
  #wrap #main #section6 .wrap .gap .container .title-wrap .title-gap .content .left-content .left-content-gap {margin-right:0px;}
  #wrap #main #section6 .wrap .gap .container .title-wrap .title-gap .content .left-content .left-content-gap > h2 {font-size: 28px;}
  #wrap #main #section6 .wrap .gap .container .title-wrap .title-gap .content .right-content .right-content-gap > p {font-size: 20px;}
  #wrap #main #section6 .wrap .gap .container .title-wrap .title-gap .content .right-content .right-content-gap {margin-left:0px;}
  #wrap #main #section6 .wrap .gap .container .img-wrap .img-gap .grafimg {width:506px;height:236.24514px;margin:140px auto 0 auto;}
  #wrap #main #section6 .wrap .gap .container .text-wrap .text-gap {max-width:506px;}
  #wrap #main #section6 .wrap .gap .container .text-wrap .text-gap .text .left-text {width:30%;float: left;}
  #wrap #main #section6 .wrap .gap .container .text-wrap .text-gap .text .left-text > h4 {font-size: 22px;}
  #wrap #main #section6 .wrap .gap .container .text-wrap .text-gap .text .right-text {width:70%;float: right;}
  #wrap #main #section6 .wrap .gap .container .text-wrap .text-gap .text .right-text > p {font-size: 17px;}
  #wrap #main #section6 .wrap .gap .container .text-wrap .text-gap .text {width:100%;border-top: 1px solid rgba(0,0,0,.2);border-bottom: 0px solid rgba(0,0,0,.2);padding:30px 0 0 0;margin-top:60px;}
  #wrap #main #section6 .wrap .gap .container .text-wrap .text-gap .text .left-text {width:100%;float: none;text-align: left;margin-bottom:15px;}
  #wrap #main #section6 .wrap .gap .container .text-wrap .text-gap .text .left-text > h4 {font-size: 22px;}
  #wrap #main #section6 .wrap .gap .container .text-wrap .text-gap .text .right-text {width:100%;float: none;text-align: left;}
  #wrap #main #section6 .wrap .gap .container .text-wrap .text-gap .text .right-text > p {font-size: 17px;}
  #wrap #main #section6 .wrap .gap .container .text-wrap .text-gap .text .left-text > h4 > br{display: none;}
  #wrap #main #section6 .wrap .gap .container .text-wrap .text-gap .text .right-text > p > br{display: none;}

  #wrap #main #section7 {background: url(../img/m_workflow_hero-3f6ffba907dd1eb60a8ccd7501ac51bb.jpg) no-repeat 50% 50%;}
  #wrap #main #section7 .wrap .gap .container .title-wrap .title-gap > h4 {font-size: 17px;}
  #wrap #main #section7 .wrap .gap .container .title-wrap .title-gap > h2 {font-size: 38px;}

  #wrap #main #section8 .wrap .gap {padding:120px 0;}
  #wrap #main #section8 .wrap .gap .container .title-wrap .title-gap .content {width:100%;text-align: center;}
  #wrap #main #section8 .wrap .gap .container .title-wrap .title-gap .content .left-content {float: none;width:100%;margin-bottom:20px;}
  #wrap #main #section8 .wrap .gap .container .title-wrap .title-gap .content .right-content {float: none;width:100%;}
  #wrap #main #section8 .wrap .gap .container .title-wrap .title-gap .content .left-content .left-content-gap {margin-right:0px;}
  #wrap #main #section8 .wrap .gap .container .title-wrap .title-gap .content .left-content .left-content-gap > h2 {font-size: 28px;}
  #wrap #main #section8 .wrap .gap .container .title-wrap .title-gap .content .right-content .right-content-gap > p {font-size: 20px;}
  #wrap #main #section8 .wrap .gap .container .title-wrap .title-gap .content .right-content .right-content-gap {margin-left:0px;}
  #wrap #main #section8 .wrap .gap .container .img-wrap .img-gap .grafimg {width:485px;height:112.88163px;margin:140px auto 0 auto;}

  #wrap #main #section9 .wrap .gap {padding:140px 0 150px 0;}
  #wrap #main #section9 .wrap .gap .container .top-col {text-align: center;}
  #wrap #main #section9 .wrap .gap .container .top-col .left-content {float:none;width:100%;}
  #wrap #main #section9 .wrap .gap .container .top-col .right-content {float:none;width:100%;}
  #wrap #main #section9 .wrap .gap .container .top-col .left-content .text-wrap {height:100%;}
  #wrap #main #section9 .wrap .gap .container .top-col .left-content .text-wrap .text-gap {margin-bottom:20px;}
  #wrap #main #section9 .wrap .gap .container .top-col .left-content .text-wrap .text-gap > p {font-size: 32px;}
  #wrap #main #section9 .wrap .gap .container .top-col .right-content .text-wrap {width:auto;padding:0px 15px;}
  #wrap #main #section9 .wrap .gap .container .top-col .right-content .text-wrap > p {font-size: 16px;}
  #wrap #main #section9 .wrap .gap .container .top-col .right-content .text-wrap > p br {display: block;}
  
  #wrap #footer .wrap .gap {padding:69px 48px 140px 48px;width:auto;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row1 {float:left; width:100%;margin:0 0 30px 0px;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row2 {float:left; width:100%;margin:0 0 30px 0px;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row3 {float:left; width:100%;margin:0 0 30px 0px;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row4 {float:left; width:100%;margin:0 0 0 0px;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row .row-gap > .text > h6 {margin-bottom:10px;font-size: 13px;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row .row-gap > h3 {font-size: 14px;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row .row-gap > a {font-size: 14px;}
  #wrap #footer .wrap .gap .container ul.content-wrap .row .row-gap > a.co {font-size: 14px;}

  
  #section3modal .wrap {width:80vw;}
  #section3modal .wrap .gap .container .slide-view .slide-wrap li.slide .slide-gap {padding:80px 20px;}
}

@media all and (max-width:485px){
  #wrap #header {height:100px;}
  #wrap #header .wrap .gap {margin:0 0px;}
  #wrap #header .wrap .gap .container {text-align: center;}
  #wrap #header .wrap .gap .container .logo-wrap {display: inline-block;line-height: 58px;height: 58px;}
  #wrap #header .wrap .gap .container .logo-wrap a {line-height: 58px;}
  #wrap #header .wrap .gap .container .nav-wrap {display: inline-block;float:none;line-height: 30px;margin-right:0px;}
  #wrap #header .wrap .gap .container .nav-wrap .nav-gap ul.nav-content li.sub-nav {font-size: 15px;}

  #wrap #main #section1 .wrap .gap .container .title-wrap .title-gap h4 {font-size: 14px;}
  #wrap #main #section1 .wrap .gap .container .title-wrap .title-gap h2 {font-size: 32px;}
  #wrap #main #section1 .wrap .gap .container .title-wrap .title-gap h2 .noNo {display: block;}

  #wrap #main #section2 .wrap .gap {padding:50px 0 60px 0;}
  #wrap #main #section2 .wrap .gap .container .title-wrap .title-gap .slide-text {padding:80px 0 0px 0;height:120px;}
  #wrap #main #section2 .wrap .gap .container .title-wrap .title-gap .content .small-title > h5 {font-weight: 400;font-size: 12px;margin-bottom:10px;}
  #wrap #main #section2 .wrap .gap .container .title-wrap .title-gap .content .left-content .left-content-gap > h2 {font-size: 24px;margin-bottom:10px;}
  #wrap #main #section2 .wrap .gap .container .title-wrap .title-gap .content .right-content .right-content-gap > p {font-size: 16px;}
  #wrap #main #section2 .wrap .gap .container .content-wrap .content-gap .content-container .content .container-gap> h3 {font-size: 20px;font-weight: 500;color: rgba(255,255,255,1);border-bottom:0px solid rgba(255,255,255,1);margin-bottom:10px;padding-bottom:0px;border-top:1px solid rgba(255,255,255,1);margin-top:20px;padding-top:17px;}
  #wrap #main #section2 .wrap .gap .container .content-wrap .content-gap .content-container .content .container-gap> h4 {font-size: 16px;color: rgba(255,255,255,1);font-weight: 500;line-height: 150%;padding-bottom:5px;}
  #wrap #main #section2 .wrap .gap .container .content-wrap .content-gap .content-container .content .container-gap> p {margin-bottom:15px;color: rgba(255,255,255,.8);}

  #wrap #main #section3 .wrap .gap .container .rotate-wrap {margin:30px auto;}
  #wrap #main #section3 .wrap .gap .container .title-wrap .title-gap .content .small-title > h5 {font-size: 12px;margin-bottom:10px;font-weight: 700;}
  #wrap #main #section3 .wrap .gap .container .title-wrap .title-gap .content .left-content .left-content-gap > h2 {display:block;font-size: 20px;color:rgba(51,51,51,1);font-weight: 500;}
  #wrap #main #section3 .wrap .gap .container .title-wrap .title-gap .content .right-content .right-content-gap > p {display:block;font-size: 16px;color:rgba(51,51,51,1);font-weight: 300;}
  #wrap #main #section3 .wrap .gap .container .content-wrap .content-gap .content-container .content .container-gap> h3 {font-size: 20px;font-weight: 600;border-bottom:0px solid rgba(0,0,0,.3);margin-bottom:10px;padding-bottom:0px;border-top:1px solid rgba(0,0,0,.3);margin-top:20px;padding-top:17px;color: rgba(0,0,0,1);}
  #wrap #main #section3 .wrap .gap .container .content-wrap .content-gap .content-container .content .container-gap> h4 {font-size: 16px;font-weight: 500;padding-bottom:5px;}
  #wrap #main #section3 .wrap .gap .container .content-wrap .content-gap .content-container .content .container-gap> p {font-size: 15px;margin-bottom:30px;}
  #wrap #main #section3 .wrap .gap .container .content-wrap .content-gap .content-container .content:hover .container-gap> h3 {color: rgba(0,198,142,1);border-top:1px solid rgba(0,198,142,.8);border-bottom:0px solid rgba(0,198,142,.8);}
  #wrap #main #section3 .wrap .gap .container .content-wrap .content-gap .content-container .content:hover .container-gap> h4 {font-size: 16px;color: rgba(0,198,142,1);font-weight: 500;line-height: 150%;padding-bottom:5px;}
  #wrap #main #section3 .wrap .gap .container .content-wrap .content-gap .content-container .content:hover .container-gap> p {font-size: 15px;line-height: 150%;color: rgba(0,198,142,1);margin-bottom:30px;}

  #wrap #main #section4 .wrap .gap {padding:50px 0 100px 0;}
  #wrap #main #section4 .wrap .gap .container .slide-view {height:150px;margin-top:80px;}
  #wrap #main #section4 .wrap .gap .container .slide-view .slide-wrap {width:calc(150px*16);}
  #wrap #main #section4 .wrap .gap .container .slide-view .slide-wrap .slide {width:148px;height:148px;}
  #wrap #main #section4 .wrap .gap .container .slide-view .slide-wrap .slide .ra-wrap {font-size: 16px;font-weight: 500;line-height: 148px;}
  #wrap #main #section4 .wrap .gap .container .title-wrap .title-gap .content .small-title > h5 {font-size: 12px;}
  #wrap #main #section4 .wrap .gap .container .title-wrap .title-gap .content .left-content .left-content-gap > h2 {font-size: 24px;margin-bottom:10px;}
  #wrap #main #section4 .wrap .gap .container .title-wrap .title-gap .content .right-content .right-content-gap > p {font-size: 16px;}
  #wrap #main #section4 .wrap .gap .container .title-wrap .title-gap .content .right-content .right-content-gap > p > br {display: none;}

  #wrap #main #section5 {box-shadow: 0px -150px 250px 0px  rgba(0,0,0,.2) inset;}
  #wrap #main #section5 .wrap .gap .container .title-wrap .title-gap > h4 {font-size: 14px;}
  #wrap #main #section5 .wrap .gap .container .title-wrap .title-gap > h2 {font-size: 32px;}

  #wrap #main #section6 .wrap .gap {padding:60px 0;}
  #wrap #main #section6 .wrap .gap .container .title-wrap .title-gap .content .left-content .left-content-gap > h2 {font-size: 24px;}
  #wrap #main #section6 .wrap .gap .container .title-wrap .title-gap .content .right-content .right-content-gap > p {font-size: 16px;}
  #wrap #main #section6 .wrap .gap .container .title-wrap .title-gap .content .right-content .right-content-gap > p > br {display: none;}
  #wrap #main #section6 .wrap .gap .container .img-wrap .img-gap .grafimg {width:306px;height:142.86761px;margin:50px auto 0 auto;}
  #wrap #main #section6 .wrap .gap .container .text-wrap .text-gap .text .left-text > h4 {font-size: 20px;font-weight: 500;}
  #wrap #main #section6 .wrap .gap .container .text-wrap .text-gap .text .right-text > p {font-size: 16px;font-weight: 300;color:rgba(51,51,51,.5);}

  #wrap #main #section7 {box-shadow: 0px -150px 250px 0px  rgba(0,0,0,.2) inset;}
  #wrap #main #section7 .wrap .gap .container .title-wrap .title-gap > h4 {font-size: 14px;}
  #wrap #main #section7 .wrap .gap .container .title-wrap .title-gap > h2 {font-size: 32px;}

  #wrap #main #section8 .wrap .gap {padding:60px 0;}
  #wrap #main #section8 .wrap .gap .container .title-wrap .title-gap .content .left-content .left-content-gap > h2 {font-size: 24px;}
  #wrap #main #section8 .wrap .gap .container .title-wrap .title-gap .content .right-content .right-content-gap > p {font-size: 16px;}
  #wrap #main #section8 .wrap .gap .container .title-wrap .title-gap .content .right-content .right-content-gap > p > br {display: none;}
  #wrap #main #section8 .wrap .gap .container .img-wrap .img-gap .grafimg {width:92.78350vw;height:21.44329vw;margin:50px auto 0 auto;}

  #wrap #main #section9 .wrap .gap {padding:60px 0 50px 0;}

  #modal {right:0px;width:90%;margin:0 5%;}
  #modal .ra-btn {box-shadow: 0px 0px 10px 1px rgba(51,51,51,.2);}

  
  #section3modal .wrap .gap .container .slide-view .slide-wrap li.slide .slide-gap > h2 {font-size: 24px;font-weight: 700;margin-bottom:20px;}
  #section3modal .wrap .gap .container .slide-view .slide-wrap li.slide .slide-gap > h4 {font-size: 18px;font-weight: 500;margin-bottom:16px;line-height: 130%;}
  #section3modal .wrap .gap .container .slide-view .slide-wrap li.slide .slide-gap > p {font-size: 16px;font-weight: 100;margin-bottom:40px;line-height: 150%;}
}
@media all and (max-width:410px){
  
  #wrap #main #section2 .wrap .gap .container .title-wrap .title-gap .content .right-content .right-content-gap > p > br {display: none;}

  
  #wrap #main #section3 .wrap .gap .container .title-wrap .title-gap .content .right-content .right-content-gap > p > br {display: none;}

  #wrap #main #section5 .wrap .gap .container .title-wrap .title-gap > h4 {font-size: 14px;}
  #wrap #main #section5 .wrap .gap .container .title-wrap .title-gap > h2 {font-size: 28px;}

  #wrap #main #section7 .wrap .gap .container .title-wrap .title-gap > h4 {font-size: 14px;}
  #wrap #main #section7 .wrap .gap .container .title-wrap .title-gap > h2 {font-size: 24px;}

  #wrap #main #section9 .wrap .gap .container .bottom-col {margin-top:50px;}  
  #wrap #main #section9 .wrap .gap .container .top-col .left-content .text-wrap .text-gap > p {font-size: 24px;}
  #wrap #main #section9 .wrap .gap .container .top-col .left-content .text-wrap .text-gap > p br {display: none;}
  #wrap #main #section9 .wrap .gap .container .top-col .right-content .text-wrap > p br {display: none;}

}

@media all and (max-width:360px){
  #wrap #main #section5 .wrap .gap .container .title-wrap .title-gap > h2 > .noneBr {display: block;}
  #wrap #main #section5 .wrap .gap .container .title-wrap .title-gap > h4 {margin-bottom: 10px;}
  #wrap #main #section5 .wrap .gap .container .title-wrap .title-gap > h2 {margin-bottom: 15px;}

  #wrap #main #section6 .wrap .gap .container .title-wrap .title-gap .content .left-content .left-content-gap > h2 {font-size: 20px;}
  #wrap #main #section6 .wrap .gap .container .title-wrap .title-gap .content .right-content .right-content-gap > p {font-size: 16px;}
  #wrap #main #section6 .wrap .gap .container .text-wrap .text-gap .text .left-text > h4 {font-size: 16px;}
  #wrap #main #section6 .wrap .gap .container .text-wrap .text-gap .text .right-text > p {font-size: 14px;}

  #wrap #main #section7 .wrap .gap .container .title-wrap .title-gap > h4 {margin-bottom: 10px;}
  #wrap #main #section7 .wrap .gap .container .title-wrap .title-gap > h2 {margin-bottom: 15px;}
}